<nav class="side-nav">
    <h2>Yoink</h2>
    <ul>
        <li><a href="/projects/yoink/index.html">Overview</a></li>
        <li>
            <h2>Guides</h2>
            <ol class="list">
                <li><a href="/projects/yoink/guides/guide-1-working-with-files.html">Working with Files</a></li>
                <li><a href="/projects/yoink/guides/guide-2-the-address-argument.html">The Address Argument</a></li>
                <li><a href="/projects/yoink/guides/guide-3-creating-your-own-command.html">Creating Your Own Command</a></li>
            </ol>
        </li>
    </ul>

    <div class="nav-divider project-links">
        <a class="project-link" href="https://github.com/tedla-brandsema/yoink" target="_blank" rel="noopener noreferrer">GitHub repository &#8599;</a>
        <a class="project-link" href="https://pkg.go.dev/github.com/tedla-brandsema/yoink" target="_blank" rel="noopener noreferrer">Go reference &#8599;</a>
    </div>
</nav>
