<nav class="side-nav">
    <h2>Tagex</h2>
    <ul>
        <li><a href="/projects/tagex/index.html">Overview</a></li>
        <li><a href="/projects/tagex/getting-started.html">Getting Started</a></li>
        <li>
            <h2>Guides</h2>
            <ol class="list">
                <li><a href="/projects/tagex/guides/guide-1-tag-driven-behavior.html">Tag-Driven Behavior</a></li>
                <li><a href="/projects/tagex/guides/guide-2-capability-selection.html">Capability Selection</a></li>
                <li><a href="/projects/tagex/guides/guide-3-post-processing-as-a-success-boundary.html">PostProcessing as a
                        Success Boundary</a></li>
                <li><a href="/projects/tagex/guides/guide-4-validation-as-a-special-case.html">Validation as a Special
                        Case</a></li>
                <li><a href="/projects/tagex/guides/guide-5-custom-converters-and-semantic-parsing.html">Custom Converters
                        and Semantic Parsing</a></li>
                <li><a href="/projects/tagex/guides/guide-6-lifecycle-hooks-in-practice.html">Lifecycle Hooks in
                        Practice</a></li>
            </ol>
        </li>
    </ul>

    <div class="nav-divider">
        <ul>
            <li>
                <a href="https://pkg.go.dev/github.com/tedla-brandsema/tagex">
                    <img src="https://pkg.go.dev/badge/github.com/tedla-brandsema/tagex.svg" alt="Go Reference">
                </a>
            </li>
             <li>
                {% include github-button.html
                href="https://github.com/tedla-brandsema/tagex"
                label="Tagex"
                size="sm" %}
            </li>
        </ul>
    </div>
</nav>