<nav>
    <h2>Tagex</h2>
    <ul>
        <li><a href="/docs/tagex/index.html">Overview</a></li>
        <li><a href="/docs/tagex/getting-started.html">Getting started</a></li>
        <li>
            <details>
                <summary><strong>Guides</strong></summary>
                <ul>
                    <li><a href="/docs/tagex/guides/guide-1-tag-driven-behavior.html">Tag-driven behavior</a></li>
                    <li><a href="/docs/tagex/guides/guide-2-capability-selection.html">Capability selection</a></li>
                    <li><a href="/docs/tagex/guides/guide-3-post-processing-as-a-success-boundary.html">PostProcessing as a
                            success boundary</a></li>
                    <li><a href="/docs/tagex/guides/guide-4-validation-as-a-special-case.html">Validation as a special case</a></li>
                    <li><a href="/docs/tagex/guides/guide-5-custom-converters-and-semantic-parsing.html">Custom converters and semantic parsing</a></li>
                </ul>
            </details>
        </li>
    </ul>

    <div class="nav-divider">
        <ul>
            <li><a href="https://github.com/tedla-brandsema/tagex">GitHub</a></li>
            <li><a href="https://pkg.go.dev/github.com/tedla-brandsema/tagex">GoDoc</a></li>
        </ul>
    </div>
</nav>