<nav class="side-nav">
    <h2>Yoink</h2>
    <ul>
        <li><a href="/docs/yoink/index.html">Overview</a></li>
        <li>
            <h2>Guides</h2>
            <ol class="list">
                <li><a href="/docs/yoink/guides/guide-1-working-with-local-files.html">Working with local files</a></li>
                <li><a href="/docs/yoink/guides/guide-2-working-with-remote-files.html">Working with remote files</a></li>
                <li><a href="/docs/yoink/guides/guide-3-the-address-argument.html">The Address Argument</a></li>
            </ol>
        </li>
    </ul>

    <div class="nav-divider">
        <ul>
            <li>
                <a href="https://pkg.go.dev/github.com/tedla-brandsema/yoink">
                    <img src="https://pkg.go.dev/badge/github.com/tedla-brandsema/yoink.svg" alt="Go Reference">
                </a>
            </li>
             <li>
                {% include github-button.html
                href="https://github.com/tedla-brandsema/yoink"
                label="yoink"
                size="sm" %}
            </li>
        </ul>
    </div>
    
</nav>