<nav class="side-nav nav-home">
    <img class="nav-avatar" src="/static/images/avatar-web.png" alt="Tedla Brandsema">
    <p>
        This site documents the open source software related works of <strong class="no-wrap">Tedla Brandsema</strong>:
    </p>
    <ul class="list">
        <li>
            <a href="/docs/">Documentation</a>
        </li>
        <li>
            <a target="_blank" href="https://github.com/tedla-brandsema/examples">Examples</a>
        </li>
        <li>
            <a href="/articles/">Articles</a>
        </li>
        <li>
            <a href="/research/">Research</a>
        </li>
    </ul>
</nav>