/* github-button.css */
a { text-decoration: none; outline: 0; }

.gh-widget {
  display: inline-block;
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
  font-size: 0;
  line-height: 0;
  white-space: nowrap;
}

.gh-btn,
.gh-social-count {
  position: relative;
  display: inline-block;
  display: inline-flex;
  height: 14px;
  padding: 2px 5px;
  font-size: 11px;
  font-weight: 600;
  line-height: 14px;
  vertical-align: bottom;
  cursor: pointer;
  user-select: none;
  background-repeat: repeat-x;
  background-position: -1px -1px;
  background-size: 110% 110%;
  border: 1px solid;
}

.gh-btn { border-radius: .25em; }
.gh-btn:not(:last-child){ border-radius: .25em 0 0 .25em; }

.gh-widget-lg .gh-btn,
.gh-widget-lg .gh-social-count {
  height: 16px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 16px;
}

.gh-octicon {
  display: inline-block;
  vertical-align: text-top;
  fill: currentColor;
  overflow: visible;
}

.gh-btn:focus-visible,
.gh-social-count:focus-visible {
  outline: 2px solid #0969da;
  outline-offset: -2px;
}

.gh-btn {
  color: #25292e;
  background-color: #ebf0f4;
  border-color: #d1d9e0;
  background-image: linear-gradient(180deg, #f6f8fa, #ebf0f4 90%);
}

.gh-btn:hover,
.gh-btn:focus {
  background-color: #e5eaee;
  background-position: 0 -0.5em;
  border-color: #d1d9e0;
  background-image: linear-gradient(180deg, #eff2f5, #e5eaee 90%);
}

.gh-btn:active {
  background-color: #e6eaef;
  border-color: #d1d9e0;
  background-image: none;
}

@media (prefers-color-scheme: dark) {
  .gh-btn:focus-visible,
  .gh-social-count:focus-visible {
    outline: 2px solid #1f6feb;
  }

  .gh-btn {
    color: #f0f6fc;
    background-color: #1a2026;
    border-color: #3d444d;
    background-image: linear-gradient(180deg, #212830, #1a2026 90%);
  }

  .gh-btn:hover,
  .gh-btn:focus {
    background-color: #1f242c;
    border-color: #3d444d;
    background-image: linear-gradient(180deg, #262c36, #1f242c 90%);
  }

  .gh-btn:active {
    background-color: #2a313c;
    border-color: #3d444d;
  }
}
